* {
	font-family: 'Press Start 2P', cursive;
}
body {
	background-image: url("../CSS/Images/lawn.jpg");
	background-size: cover;
}
.container {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
.header {
	width: 700px;
	margin: 0 auto;
	height: 240px;
}
.maintitle {
	padding-top: 20px;
}

h1 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 55px;
	color: white;
	text-shadow: 8px 8px 2px black;
}
h2 {
	padding-top: 5px;
}

.go {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 7px auto;
}
.stop {
	display: inline;
}
.name1 {
	background-color: white;
	border: 5px solid black;
	box-shadow: 8px 8px 2px black;
	font-family: 'Press Start 2P', cursive;
	height: 83px;
	display: block;
	float: left;
	font-size: 25px;
	width: 30%;
	max-width: 230px;
	margin-top: 35px;
	padding-top: 0px;
}
.name2 {
	background-color: white;
	border: 5px solid black;
	border: 5px solid black;
	box-shadow: 8px 8px 2px black;
	font-family: 'Press Start 2P', cursive;
	height: 83px;
	display: block;
	float: right;
	font-size: 25px;
	width: 30%;
	max-width: 230px;
	margin-top: 35px;
	padding-top: 0px;
}
.title1, .title2 {
	border-bottom: 5px solid black;
	height: 33px;
	margin: 0 auto;
}
.player1, .player2 {
	color: blue;
	font-size: 30px;
	margin-top: 7px;
	text-shadow: 4px 2px 2px black;
}
button {
	background-color: transparent;
	background-image: url("../CSS/Images/redbutton.png");
	background-size: 100px;
	background-repeat: no-repeat;
	border: none;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 25px;
	height: 100px;
	width: 100px;
}
button.resetGo {
	background-color: transparent;
	background-image: url("../CSS/Images/blackbutton.png");
	background-repeat: no-repeat;
	background-size: 160px;
	border: none;
	height: 163px;
	width: 165px;
}
#mybox {
	display: block;
	text-align: center;
	margin: 5px auto;
	width: 50px;

}
table {
	height: 700px;
	margin: 0 auto;
	cursor: url("../CSS/Images/smallmallet.png"), pointer;
}
table:active {
	cursor: url("../CSS/Images/smallmallet2.png"), pointer;
}
tr {
	height: 140px;
}
td {
	background-image: url("../CSS/Images/dirt-hole.png");
	background-size: cover;
	width: 120px;
	height: 120px;
	/*border: 5px solid black;*/
	overflow: hidden;
}
.mole {
	/*background-color: red;
	border: 3px solid blue;*/
	animation: 
		test 
		500ms 
		ease-out
	    0s
	    alternate
	    infinite
	    none
	    running;
	background-image: url("../CSS/Images/mole.png");
	background-size: 120px;
	background-repeat: no-repeat;
	height: 100px;
	position: absolute;
	width: 117px;
	margin: 0 auto;
	opacity: 1;
	overflow: hidden;
	padding-left: 10px;
}

@keyframes test {
	0% {
		margin-top: 50px;
		opacity: 0;
	}
	100% {
		margin-top: 0px
		opacity: 1;
	}
}
@keyframes testback {
	100% {
		margin-top: 0px
		opacity: 1;
	}
	0% {
		margin-top: 50px;
		opacity: 0;
	}
}
.molesize {
	animation: fade 2s linear;
	background-image: url("../CSS/Images/mole.png");
	background-size: 120px;
	background-repeat: no-repeat;
	/*border: 3px solid black;*/
	display: block;
	height: 100px;
	opacity: 1;
}
@keyframes fade {
	0%,100% {opacity: 0}
	50% {opacity: 1}
}
#timer {
	display: block;
	height:40px;
	width: 30%;
	/*background-color: lightblue;*/
	font-family: 'Press Start 2P', cursive;
	font-size: 35px;
	color: blue;
	margin: 0 auto;
	text-shadow: 4px 2px 2px black;
}
.roundOver, .round2Over {
	border: 5px solid black;
	height: 300px;
	background-color: white;
	color: red;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 360px;
	width: 500px;
}
h3 {
	margin-top: 90px;
	padding-bottom: 30px;
}
h3.winnertext {
	margin-top: 45px;
	padding-bottom: 0px;
}