.container {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
h1 {
	text-align: center;
}
.go {
	display: inline-block;
	margin: 0 auto;
}
#mybox {
	display: block;
	text-align: center;
	margin: 5px auto;
}
table {
	height: 700px;

}
tr {
	height: 100px;
}
td {
	border: 5px solid black;
}
.test {
	background-color: red;
	border: 3px solid blue;
	height: 50px;
	margin: 0 auto;
}

#timer {
	height:100px;
	background-color: lightblue;
}