* {
	font-family: 'Press Start 2P', cursive;
}
body {
	background-image: url("../CSS/Images/lawn.jpg");
	background-size: cover;
}
.container {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
.maintitle {
	padding-top: 10px;
}

h1 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: white;
}
h2 {
	padding-top: 5px;
}

.go {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 0 auto;
}
.stop {
	display: inline;
}
.name1 {
	background-color: white;
	border: 5px solid black;
	font-family: 'Press Start 2P', cursive;
	height: 83px;
	display: block;
	float: left;
	font-size: 25px;
	width: 30%;
	margin-top: 35px;
	padding-top: 0px;
}
.name2 {
	background-color: white;
	border: 5px solid black;
	font-family: 'Press Start 2P', cursive;
	height: 83px;
	display: block;
	float: right;
	font-size: 25px;
	width: 30%;
	margin-top: 35px;
	padding-top: 0px;
}
.title1, .title2 {
	border-bottom: 5px solid black;
	height: 33px;
	margin: 0 auto;
}
.player1, .player2 {
	color: blue;
	font-size: 30px;
	margin-top: 7px;
}
button {
	background-color: transparent;
	background-image: url("../CSS/Images/redbutton.png");
	background-size: 100px;
	background-repeat: no-repeat;
	border: none;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 25px;
	height: 100px;
	width: 100px;
}
#mybox {
	display: block;
	text-align: center;
	margin: 5px auto;
	width: 50px;

}
table {
	height: 700px;
	margin: 0 auto;
}
tr {
	height: 140px;
}
td {
	background-image: url("../CSS/Images/dirt-hole.png");
	background-size: cover;
	width: 120px;
	height: 120px;
	/*border: 5px solid black;*/

}
.mole {
	/*background-color: red;
	border: 3px solid blue;*/
	background-image: url("../CSS/Images/mole.png");
	background-size: 120px;
	background-repeat: no-repeat;
	height: 100px;
	width: 117px;
	margin: 0 auto;
}
.molesize {
	background-image: url("../CSS/Images/mole.png");
	background-size: 120px;
	background-repeat: no-repeat;
	height: 100px;
}
#timer {
	display: block;
	height:40px;
	width: 30%;
	/*background-color: lightblue;*/
	font-family: 'Press Start 2P', cursive;
	font-size: 35px;
	color: blue;
	margin: 0 auto;
}
.roundOver {
	border: 5px solid black;
	height: 300px;
	background-color: white;
	color: red;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 360px;
	width: 500px;
}
h3 {
	margin-top: 70px;
	padding-bottom: 20px;
}